.container {
    display: flex;
    border: 10px solid black;
    height: 90vh;
    align-items: baseline;
}

.box {
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}

#box1 {
    background-color: hotpink;
}

#box2 {
    background-color: khaki;
}

#box3 {
    background-color: chartreuse;
}

#box4 {
    background-color: aqua;
}